<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timedifference">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hourglass_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hourglass_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeDifference">
        <activity
            android:name=".LearnEasyActivity"
            android:exported="false"
            android:label="Learn Easy"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LearnHardActivity"
            android:exported="false"
            android:label="Learn Hard"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CalculateActivity"
            android:exported="false"
            android:label="Calculate"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>